.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #4b67a1;
  padding: 10px;
  border-radius: 10px;
}
.link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ddd;
}
.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.icons {
  display: flex;
  gap: 20px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
