.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: black;
  background-color: #f9f9f9;
  background-size: cover;
  margin-top: 50px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.order {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 0;
}

.orderItemLabel,
.orderItemValue {
  color: black;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.button:first-child {
  background-color: green;
}

.button:last-child {
  background-color: red;
}
